################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NuGet Programs/InitViewModel/bin/Debug
/NuGet Programs/InitViewModel/obj/x86/Debug
/NuGet Programs/InitWAQSClientPCL/bin/Debug
/NuGet Programs/InitWAQSClientPCL/obj/Debug
/NuGet Programs/InitWAQSClientPCLGlobal/bin/Debug
/NuGet Programs/InitWAQSClientPCLGlobal/obj/Debug
/NuGet Programs/InitWAQSClientWPF/bin/Debug
/NuGet Programs/InitWAQSClientWPF/obj/x86/Debug
/NuGet Programs/InitWAQSClientWPFGlobal/bin/Debug
/NuGet Programs/InitWAQSClientWPFGlobal/obj/Debug
/NuGet Programs/InitWAQSServer/bin/Debug
/NuGet Programs/InitWAQSServer/obj/x86/Debug
/NuGet Programs/InitWAQSServerMock/bin/Debug
/NuGet Programs/InitWAQSServerMock/obj/Debug
/NuGet Programs/WAQSNuGetPrograms.sln.ide
*.suo

/TestResults
/TestsDependences/ClassLibrary1/bin/Debug
/TestsDependences/ClassLibrary1/obj/Debug
/TestsDependences/TestsDependences/bin/Debug
/TestsDependences/TestsDependences/obj/Debug
/TestsDependences/TestsDependences.sln.ide

/New-NuGetPackages
/NuGet Programs/.vs/WAQSNuGetPrograms/vbcs.cache
/TestsDependences/.vs/TestsDependences/vbcs.cache
/NuGet Programs/InitWAQSServerMock/InitWAQSServerMock.csproj.user
/NuGet Programs/InitWAQSClientWPFGlobal/InitWAQSClientWPFGlobal.csproj.user
/NuGet Programs/InitWAQSClientWPF/InitWAQSClientWPF.csproj.user
/NuGet Programs/InitWAQSClientPCL/InitWAQSClientPCL.csproj.user
/NuGet Programs/InitViewModel/InitViewModel.csproj.user
