<#@ include file="WCFAsyncQueryableServices.$VSVersion$.$NetVersion$.Client.PCL.ttinclude"#>
<#
WriteClient("$edmxName$.Client.PCL.waqs", "$RootNamespace$");
#>














































































































































































