<#@ include file="WAQS.$VSVersion$.$NetVersion$.Client.PCL.Global.ttinclude"#>
<#WriteClient("Global.Client.PCL.waqs", "$ClientContextNamespace$");#>













































































































































































