<#@ include file="WCFAsyncQueryableServices.$VSVersion$.$NetVersion$.Server.ttinclude"#>
<#
WriteServer("$edmxName$.Server.waqs", "$RootNamespace$");
#>












































































































































































































