<#@ include file="WCFAsyncQueryableServices.$VSVersion$.$NetVersion$.Server.Global.WCFService.Contract.ttinclude"#>
<#
WriteServerGlobalWCFServiceContract("http://Global.net", "$RootNamespace$");
#>













































































































































































































