<#@ include file="WAQS.$VSVersion$.$NetVersion$.Server.Global.WCFService.Contract.ttinclude"#>
<#
WriteServerGlobalWCFServiceContract("http://Global.net", "$RootNamespace$");
#>













































































































































































































