<#@ include file="WAQS.$VSVersion$.$NetVersion$.Server.ttinclude"#>
<#
WriteServer("$edmxName$.Server.waqs", "$RootNamespace$");
#>












































































































































































































