<#@ include file="WCFAsyncQueryableServices.$VSVersion$.$NetVersion$.Server.Mock.ttinclude"#>
<#
WriteServerMock("$edmxName$.Server.Mock.waqs", "$RootNamespace$");
#>












































































































