<#@ include file="WCFAsyncQueryableServices.$VSVersion$.$NetVersion$.Client.WPF.ttinclude"#>
<#
WriteClient("$edmxName$.Client.WPF.waqs", "$RootNamespace$");
#>













































































































































































