<#@ include file="WCFAsyncQueryableServices.$VSVersion$.$NetVersion$.Client.WPF.Global.ttinclude"#>
<#WriteClient("Global.Client.WPF.waqs", "$ClientContextNamespace$");#>












































































































































































