<#@ include file="WAQS.$VSVersion$.$NetVersion$.Client.WPF.ttinclude"#>
<#
WriteClient("$edmxName$.Client.WPF.waqs", "$RootNamespace$");
#>













































































































































































